.page-analytics {
  .title-h3 {
    text-transform: uppercase;
    color: $primary;
    margin-bottom: 0.5rem;
    font-size: $font-size-sm;
  }
  .filter-analytics {
    @include flex-start;
    gap: 0.1rem;
    background: rgba($dark, 0.3);
    border-radius: $border-radius-sm;
  }
}
