.page-analytics {
  .title-h3 {
    text-transform: uppercase;
    color: $primary;
    margin-bottom: 0.5rem;
    font-size: $font-size-sm;
  }
  .filter-analytics {
    @include flex-start;
    gap: 0.1rem;
    background: rgba($dark, 0.3);
    border-radius: $border-radius-sm;
    margin-bottom: 1rem;
  }
  .filter-donut {
    @include flex-center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    aspect-ratio: 1;
    @include max(375px) {
      max-width: 320px;
    }
    /*.recharts-wrapper {
      width: 100% !important;
    }
    .recharts-legend-wrapper {
      width: 100% !important;
      .recharts-default-legend {
        @include max(375px) {
          @include flex-start;
          flex-wrap: wrap;
        }
      }
    }*/
  }

  .category-analytics {
    background: rgba($dark, 0.3);
    padding: 1.5rem 1rem;
    border-radius: $border-radius;
    .title-h3 {
      text-transform: capitalize;
      color: $light-gray;
      margin-bottom: 1rem;
    }
    .category-analytics-list {
    }
    .category-analytics-item {
      padding: 1rem;
      @include text-light-grey;
    }
    .category-analytics-top {
      @include flex-start;
    }
    .category-analytics-item-info {
      @include flex-between;
    }
  }
}
