.circular-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.circular-progress svg {
  transform: rotate(-90deg);
}

.progress-bg,
.progress-bar {
  fill: none;
  stroke-width: 8;
}

.progress-bg {
  stroke: rgba($dark, 0.5);
}

.progress-bar {
  stroke-linecap: square;

  transition: stroke-dashoffset 0.5s ease;
}

.progress-text {
  display: none;
  fill: $gray;
  font-size: 1.2rem;
  font-weight: 600;

  text-anchor: middle;
  dominant-baseline: middle;

  /* Undo the SVG rotation */
  transform: rotate(90deg);
  transform-origin: 60px 60px;
}
