.dashboard-block {
  padding: 0rem 0.7rem;
}
.dashboard-card {
  position: relative;
  z-index: 2;
  border-radius: $border-radius;
  border: 1px solid rgba($dark, 0.6);
  margin-bottom: 0.7rem;
  background-color: rgba($dark, 0.3);
  padding: 1rem;
  .dashboard-icon {
    position: absolute;
    top: 1rem;
    right: 2rem;
    z-index: 1;
    svg {
      width: 6rem;
      height: 6rem;
      color: rgba($dark, 0.7);
      transform: rotate(20deg);
    }
  }
  .dashboard-title {
    color: $light-gray;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  .dashboard-value {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
  }
  .dashboard-description-one {
    text-transform: uppercase;
    font-size: 0.7rem;
    @include text-light-grey;
  }
  .dashboard-description {
    font-style: italic;
    font-size: 0.7rem;
    @include text-light-grey;
  }
  .dashboard-limit {
    text-transform: capitalize;
    font-size: 0.65rem;
    @include text-light-grey;
  }
  .dashboard-progress {
    margin: 0.5rem 0;
    height: 0.5em;
    width: 100%;
    border-radius: 4px;
    background-color: rgba($dark, 0.4);
    .dashboard-progress-bar {
      height: 100%;
      border-radius: 4px;
    }
  }
}
.dashboard-category {
  @include grid-50;
}
.dashboard-transaction {
  margin-top: 1rem;
  &-top {
    @include flex-between;
  }
  a {
    text-decoration: none;
    @include text-light-grey;
    font-size: 0.8rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
