.profile-block {
  padding: 1rem 0;
  @include text-light-grey;
  .profil-top {
    @include flex-column;
    text-align: center;
  }
  .profil-img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 3px solid $primary;
    margin-bottom: 1rem;
  }
  .profil-name {
    font-size: $font-size-lg;
    margin-bottom: 0.2rem;
    text-transform: capitalize;
  }
  .profil-email {
    font-size: $font-size-sm;
    font-weight: 300;
    font-style: italic;
  }
  .profil-bottom {
    padding: 1.5rem;
  }
  .profil-setting {
    .title-h3 {
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    .profil-setting-item {
      @include flex-between;
      padding: 1rem 1.5rem;
      background-color: rgba($dark, 0.3);
      border: 1px solid rgba($dark, 0.3);
      &:first-of-type {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
      &:last-of-type {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
    .profil-col {
      @include flex-start;
      gap: 0.5rem;
      align-items: center;
    }
    .setting-icon {
      @include flex-center;
      border-radius: $border-radius-sm;
      background-color: rgba($dark, 0.8);
      padding: 0.8rem;
      font-size: 1.3rem;
    }
    .setting-name {
      font-size: $font-size-sm;
    }
  }
}
