.btn {
  border: none;
  border-radius: $border-radius-sm;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  @include flex-center;
  text-decoration: none;
  svg {
    font-size: $font-size-lg;
    margin: 0 0.2rem;
  }
  &-primary {
    background-color: $primary;
    color: $neutral;
    &:hover {
      background-color: $primary-dark;
      color: $white;
    }
  }
  &-filter {
    background: transparent;
    color: $light-gray;
    &:hover {
      background: $success;
      color: $dark;
    }
    &.active {
      background: $success;
      color: $dark;
    }
  }
  &-gray {
    background: rgba($gray, 0.8);
    color: $light-gray;
    &:hover {
      background: $gray;
      color: $light-gray;
    }
  }
}
