input {
  width: 100%;
  background: rgba($dark, 0.1);
  border: 1px solid rgba($dark, 0.6);
  border-radius: $border-radius-sm;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  transition: all 0.3s ease-in-out;
  color: $light-gray;
  &:focus {
    outline: none;
    border-color: $primary;
  }
  &[type="color"] {
    height: 2rem;
    width: 2rem;
    padding: 0.1rem;
  }
}

label {
  display: block;
  @include text-light-grey;
  margin-bottom: 0.5rem;
}

.form-group {
  margin-bottom: 1rem;
  &.form-button {
    padding-top: 1rem;
    .btn {
      width: 100%;
    }
  }
}
